<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="username" value="admin" />
  <add key="password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAuYfiHCdIJkaSsMTq331WVwAAAAACAAAAAAAQZgAAAAEAACAAAAAe1sqOD1ORo9OwQwj31bMsXnP4+JOV93zGYaNRaZ49ZQAAAAAOgAAAAAIAACAAAAAT5Gjew+qtAeyh0MfT8OPvg23sGltzwVRRJnxBN/W0KRAAAADvLCGzt0l1jKNvq8/DWgVvQAAAAMT2xR2xfcTMCY0iQWTx40oUxF/ckDtfOspwqJBxH1qk6B1c9G37O5zBSRmAMFaMdiJD6UfU8jrJ9g/bdwjrgFU=" />
  <add key="entropy" value="TcTJotsWrnolO7KgloUMtFKfi8oBk3RJ6W7uP7qdw9U=" />
 </appSettings>
</configuration>