<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="username" value="admin" />
  <add key="password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAuYfiHCdIJkaSsMTq331WVwAAAAACAAAAAAAQZgAAAAEAACAAAAAAOoRm2peRYve6FYsiumj6njc5UEJculX98+4A5q048gAAAAAOgAAAAAIAACAAAAD6Wlpb9BoVYiuaf4IfpqvVTECikR8v0m66gE+QyLAn5xAAAAA3m5ZFDszXog3LqQ0dl3uXQAAAAFBEUweRi9k3+AuA8PZloGLJiVORfKvyK68eJVVhfNBTzn4fY81R0NF1gtLd/UdaTMlhHZLBLZXpK0pNQHSG0YQ=" />
  <add key="entropy" value="ur5g93Rbl1UvFzml4XwIjNL9XlHi3ZHs//+QhMQK0Lw=" />
 </appSettings>
</configuration>